@import url("https://fonts.googleapis.com/css2?family=Caladea:wght@400;700&family=Oswald:wght@200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caladea:wght@400;700&family=Inter:wght@200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* snap scrolling */
html,
body {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.font-oswald {
  font-family: "Oswald", sans-serif;
}

.font-caladea {
  font-family: "Caladea", serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

/* Text stroke */
/* .text-stroke {
  -webkit-text-stroke: 1px white;
} */
.text-stroke {
  -webkit-text-stroke: 1px white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f2f2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  transition: all 0.3s ease-in-out;
  background: rgb(168, 168, 168);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #929292;
}

/* Custom input color */
input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 150px;
  height: 100px;
  border-radius: 10px;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 10px;
}

.custom-border {
  border: 30px solid;
  border-image: url("border-svg.svg");
  border-image-slice: 30;
}
